name: "Publish"

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@v3.91.2

  build_wheels:
    runs-on: ubuntu-latest
    needs: verify
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build
        run: uv build

      - name: Upload built wheels as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist/*

  publish:
    runs-on: ubuntu-latest
    needs: build_wheels
    environment:
      name: pypi
    permissions:
      id-token: write
    steps:
      - name: Download built wheels from Artifacts
        uses: actions/download-artifact@v4
        with:
          name: wheels
          path: dist
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        
      - name: Publish to PyPI
        run: uv publish